<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soap.mapper.GoodsStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soap.entity.po.GoodsStock">
        <id column="goods_id" property="goodsId" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_id, stock
    </sql>


    <update id="inventoryReduction" parameterType="long">
        UPDATE goods_stock
        SET stock = stock - 1
        WHERE
            goods_id = #{goodsId}
          AND stock > 0
    </update>
</mapper>
